#outfitting {
	position: relative;
	border: 1px solid #8b7355;
	width: 200px;
	margin-bottom: 20px;
	padding: 5px 10px;
	background: #ebe5d9;
}

div#outfitting:before, div#perks:before {
	content: attr(data-legend);
	position: absolute;
	top: -13px;
	left: 8px;
	background-color: #ebe5d9;
	font-size: 12px;
	color: #8b7355;
	padding: 0 4px;
}

div.outfitRow {
	position: relative;
	cursor: default;
	margin: 10px -30px 10px 0px;
}

div.outfitRow > .row_val {
	padding-right: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.outfitRow .tooltip {
	width: 150px;
}

div#bagspace {
	background-color: #ebe5d9;
	position: absolute;
	top: -13px;
	right: 10px;
	font-size: 12px;
	padding: 0 4px;
}

div#perks {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid #8b7355;
	cursor: default;
	padding: 5px 10px;
	width: 200px;
	background: #ebe5d9;
}

div.perkRow {
	position: relative;
}

div.perkRow .row_key {
	float: none;
}

#pathScroller {
	padding-top: 10px;
	position: relative;
	max-height: 660px;
	width: 475px;
	overflow-y: auto;
}
